* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #efefef;
}

body::before {
  content: "";
  background: #535971;
  width: 100%;
  height: 368px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}

body,
input,
select,
textarea,
h2 {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 736px;
  margin: 0 auto;
}

header {
  margin-top: 80px;
}

header h1 {
  color: #fff;
  font-size: 48px;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  margin-bottom: 18px;
}

header p {
  height: 46px;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 58px;
}

form {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  padding: 64px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  color: #535971;
  font-size: 24px;
  font-family: "Staatliches", sans-serif;
  font-weight: bold;
  line-height: 34px;
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 30px;
}

fieldset p {
  color: #535971;
  font-size: 20px;
  font-family: "Staatliches";
  font-weight: 400;
  line-height: 34px;
}

input {
  width: 100%;
  background-color: #fafafc;
  border-radius: 8px;
  height: 56px;
}

.coluns-three {
  display: flex;
  align-items: center;
  gap: 22px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper span {
  margin-left: 8px;
  color: #c1bccc;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.input-wrapper label {
  color: #4e4958;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper input {
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  padding: 0 24px;
}

.button {
  height: 100px;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  background: #535971;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
}

.button button {
  display: flex;
  width: 600px;
  height: 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #ff5374;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button button:hover {
  background: #ed133f;
}
